/* GENERAL */
html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Barlow' /* "Arial", sans-serif */;
    background-color: #fff;
    color: #222;
    font-weight: 400;
    font-size: 16px;
    Line-height: 26px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @font-face {
    font-family: 'Barlow';
    src: url(../fonts/Barlow-Bold.woff2) format('woff2'),
        url(../fonts/Barlow-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url(../fonts/Barlow-Regular.woff2) format('woff2'),
        url(../fonts/Barlow-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url(../fonts/Fraunces-Black.woff2) format('woff2'),
        url(../fonts/Fraunces-Black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.container {
    width: 100% ;
    max-width:1110px ;
    margin: 0 auto;
}

.container1 {    
    width: 100% ;
    max-width:1328px ;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.site-header {
    padding: 45px 0;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.site-header__img {
    margin-right: 8px;
}

.site-header__name {
    font-family: 'Fraunces';
    color: #333D4B;
    margin:0;
    padding: 0;
    font-size: 26px;
    Line-height: 26px;
}


.site-header__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-header__item:not(:last-child){
    margin-right: 33px;
}

.site-header__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.site-header__link:hover {
    text-decoration: underline;
}

.site-header__button {
    display: none;
}

/* SITE-MAIN */

/* FIRST-SECTION */


.hero-section {
    background-image: url(../img/Bitmap.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-color: #A2A2A2;
    border-radius: 10px;
    padding-top: 94px;
    padding-bottom: 94px;
}


.hero-section__heading {
    width: 493px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.hero-section__desc {
    width: 445px;
    color: #FEFCF7;
    padding: 0;
    margin: 0;
    margin-bottom: 56px;
}

.site-link {
    display: inline-block;
    text-decoration: none;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 31px;
}

.site-link:hover {
    color: #0E8784;
    background-color: #fff;
}

.site-link:active {
    color: #0E8784;
    background-color: #FDD6BA;
}

/* SECOND-SECTION */


.collection {
    padding-top: 250px;
    padding-bottom: 200px;
}

.collection__container {
    text-align: center;
    position: relative;
}

.collection__heading {
    position: absolute;
    z-index: -1;
    bottom: 380px;
    padding: 0;
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 115px;
    background-color: #83888F;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.collection__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: -30px;
}

.collection__item {
    width: 256px;
    margin-right: 30px;
}

.collection__img {
    padding: 0;
    margin:0;
    margin-bottom: 72px;
}

.collection__title {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.collection__desc {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #333D4B;
}

/* THIRD-SECTION */

.choose {
    padding-top: 100px;
    padding-bottom: 310px ;
    background: #2C343E;
    border-radius: 10px;
}

.choose__container {
    position: relative;
    text-align: center;
}

.choose__heading {
    padding: 0;
    margin:0;
    margin-bottom: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.choose__text {
    width: 540px;
    padding: 0;
    margin:0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 86px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.choose__list {
    position: absolute;
    padding: 0;
    margin:0;
    margin-right: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.choose__item {
    margin: 0;
    margin-right: 30px;
    padding: 0;
    padding-top: 72px;
    padding-bottom: 48px;
    padding-left: 47px;
    padding-right: 48px;
    background-color: #0E8784;
    border-radius: 8px;
}

.choose__img {
    padding: 0;
    margin:0;
    margin-bottom: 56px;
}

.choose__item-heading {
    padding: 0;
    margin:0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;

}

.choose__item-desc {
    width: 255px;
    padding: 0;
    margin:0;
    color: #FEFCF7;
}

/* FIFTH-SECTION */

.how-works {
    padding-top: 300px;
    padding-bottom: 200px;
}

.how-works__container {
    position: relative;
}

.how-works__heading {
    margin: 0;
    padding: 0;
    margin-bottom: 95px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.how-works__line {
    margin-bottom: 501px;
    width: 760px;
    height: 1px;
    background-color: #FDD6BA;
}


.how-works__list {
    position: absolute;
    top: 110px;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    margin-bottom: 64px;
    list-style: none;
}

.how-works__item {
    width: 285px;
    margin-right: 95px;
}

.how-works__item-img {
    margin: 0;
    padding: 0;
    margin-bottom: 67px;
}

.how-works__item-number {
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.how-works__item-heading {
    width: 200px;
    margin: 0;
    padding: 0;
    margin-bottom: 42px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.how-works__item-desc {
    margin: 0;
    padding: 0;
    color: #333D4B;
}

/* FOOTER */


.site-footer__container {
   display: flex;
   justify-content: start;
   align-items: center;
   padding-top: 48px;
   padding-bottom: 48px;
   padding-left: 86px;
   padding-right: 48px;
   background-color: #2C343E;
   border-radius: 10px;
}

.site-footer__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 103px;
}

.site-footer__img {
    margin-right: 8px;
}

.site-footer__name {
    font-family: 'Fraunces';
    color: #fff;
    font-size: 26px;
    Line-height: 26px;
    margin:0;
    padding: 0;
}

.site-footer__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    margin-right: 336px;
    padding: 0;
}

.site-footer__item {
    display: inline-block;
    margin-right: 33px;
}



.site-footer__link {
    text-decoration: none;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.site-footer__link:hover {
    text-decoration: underline;
}

.site-footer__internet-list {
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: -24px;
}

.site-footer__internet-link {
    display: inline-block;  
    margin-right: 24px;  
}

.site-footer__internet-logo {
    display: block;
}

@media only screen and (max-width: 550px) {
    .site-header__container{
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .site-header__logo-link {
        width: 162px;
    }

    .site-header__name {
        font-family: 'Fraunces';
        color: #333D4B;
        margin:0;
        padding: 0;
        font-size: 18px;
        Line-height: 18px;
    }

    .site-header__nav {
        display: none;
    }

    .site-header__button {
        display:block;
    }
    
    .hero-section {
        max-width: 400px;
        align-items: center;
        background-image: url(../img/Bitmap-phone.jpg);
        background-repeat: no-repeat ;
        background-size:cover;
        background-color: rgba(0, 0, 0, 0.600551);    
        background-position: calc(50%) ;
    }

    .hero-section__container {
        padding-right: -30px;
    }
    
    .hero-section__heading { 
        width: 279px;
        margin-right: 0;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #FEFCF7;
    }

    .hero-section__desc {
        margin-right: 0;
        width: 279px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
    }

    .collection__heading {
        top: -90px;;
        width: 286px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 72px;
        text-align: center;
        color: #83888F;
        background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    }
    
    .collection__container {
        display: flex;
        justify-content: center;
        text-align: center;
    }
   
    .collection__list {
        flex-direction: column;
    }

    .collection__item {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 48px;
    }

    .collection__img {
        width: 200px;
        padding: 0;
        margin:0;
        margin-bottom: 24px;
    }
    
    .collection__title {
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
    }
    
    .collection__desc {
        width: 282px;
        padding: 0;
        margin: 0;
        text-align: center;
        color: #333D4B;
    }

    .choose {
        padding-top: 64px;
        padding-bottom: 600px ;
        background: #2C343E;
        border-radius: 10px;
    }
    
    .choose__container {
        width: 327px;
        position: relative;
        align-items: center;
    }
    
    .choose__heading {
        padding: 0;
        margin:0;
        margin-bottom: 32px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        color: #FEFCF7;
    }
    
    .choose__text {
        width: 279px;
        padding: 0;
        margin:0;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 64px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    
    .choose__list {
        position: absolute;
        padding: 0;
        margin:0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    
    .choose__item {
        width: 279px;
        margin: 0;
        padding: 0;
        margin-bottom: 24px;
        padding-top: 72px;
        padding-bottom: 51px;
        padding-left: 33px;
        padding-right: 33px;
        background-color: #0E8784;
        border-radius: 8px;
    }
        
    .choose__img {
        padding: 0;
        margin:0;
        margin-bottom: 56px;
    }
    
    .choose__item-heading {
        padding: 0;
        margin:0;
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;
    }
    
    .choose__item-desc {
        width: 212px;
        padding: 0;
        margin:0;
        color: #FEFCF7;
    }
    
    .how-works {
        padding-top: 740px;
        padding-bottom: 120px;
    }
    
    .how-works__container {
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        text-align: center;
    }
    
    .how-works__heading {
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 1200px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
    }
    
    .how-works__line {
        display: none;
    }
    
    
    .how-works__list {
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 64px;
        list-style: none;
    }
    
    .how-works__item {
        align-items: center;
        justify-content: center;
        margin-bottom: 56px;
        margin-right: 0;
    }
    
    .how-works__item-img {
        display: none;
    }
    
    .how-works__item-number {
        margin: 0;
        padding: 0;
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
    }
    
    .how-works__item-heading {   
        width: 327px;
        margin-right: 0;
        padding: 0;
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
    }
    
    .how-works__item-desc {
        width: 327px;
        margin-right: 0;
        padding: 0;
        color: #333D4B;
     }

     .site-footer__container {
        width: 327px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 54px;
        padding-bottom: 56px;
        padding-left: 55px;
        padding-right: 55px;
        background-color: #2C343E;
        border-radius: 10px;
     }
     
     .site-footer__logo-link {
         display: flex;
         text-decoration: none;
         margin-bottom: 50px;
         margin-right: 0;
     }
     
     .site-footer__img {
         margin-right: 8px;
     }
     
     .site-footer__name {
         font-family: 'Fraunces';
         color: #fff;
         font-size: 26px;
         Line-height: 26px;
         margin:0;
         padding: 0;
     }
     
     .site-footer__list {
        flex-direction: column;
        align-items: center;
         list-style: none;
         margin: 0;
         margin-bottom: 50px;
         padding: 0;
     }
     
     .site-footer__item {
         display: inline-block;
         margin-bottom: 24px;
     }
     
     
     
     .site-footer__link {
         text-decoration: none;
         font-family: 'Barlow';
         font-weight: 700;
         font-size: 12px;
         line-height: 15px;
         letter-spacing: 0.923077px;
         text-transform: uppercase;
         color: #83888F;
     }
     
     .site-footer__link:hover {
         text-decoration: underline;
     }
     
     .site-footer__internet-list {
         margin:0;
         padding:0;
         display: flex;
         justify-content: center;
         list-style: none;
         margin-right: -24px;
     }
     
     .site-footer__internet-link {
         display: inline-block;  
         margin-right: 24px;  
     }
     
     .site-footer__internet-logo {
         display: block;
     }

}

